.float {
    margin: 30% 7%;
    background-color: #2c2640;
}

.text {
    display: flex;
    flex-direction: column;
}

.image-mobile {
    right: 0;
    margin-right: 7%;
    position: absolute;
}

.text-mobile {
    font-size: 250%;
    padding: 4% 4%;
    font-weight: bold;
    text-align: center;
    color: white;
    position: relative;
    z-index: 3;
}

.middle-button-float {
    top: -3vh;
    display: block;
    margin: 0 auto;
    position: relative;
    border: #ffffff solid;
    border-width: 2px;
    font-size: medium;
    color: white;
    background-color: transparent;
    padding: 3% 3%;
    margin-left: 20%;
    margin-bottom: 20%;
    margin-right: 20%;
    width: 200px;
    align-self: center;

}

.image {
    display: none;
}

@media only screen and (min-width: 1000px) {

    .image-mobile {
        display: none;
    }

    .float {
        margin: 10% 10%;
        position: relative;
    }

    .text {
        flex-direction: row;
        justify-content: space-between;
    }

    .text-mobile {
        margin-top: 0;
        margin-bottom: 1.2%;
        font-size: 300%;
    }

    .image {
        display: inline-block;
        position: relative;
        right: 0;
    }

    .middle-button-float:hover {
        background-color: #ffffff;
        color: #2c2640;
        cursor: pointer;
    }

    .middle-button-float {
        color: white;
        border: #ffffff solid;
        background-color: transparent;
        position: absolute;
        font-size: large;
        z-index: 3;
        right: 0;
        max-height: 7vh;
        padding: 10px 25px;
        margin-top: 7%;
        margin-right: 5%;
        margin-bottom: 0;
        outline: none;
        white-space: nowrap;
    }

    .float {
        margin: 10% 10%;
    }

    .text-mobile {
        text-align: left;
    }
}
