#footer {
    background-color: #f5f5f5;
}

.mobile-pattern {
    max-width: 100%;
    position: absolute;
}

.insure-footer {
    outline: none;
    margin-top: 23%;
}

.footer-icons {
    display: flex;
    justify-content: center;
    position: relative;
}

.footer-link::before {
    content: '';
    display: inline-block;
    width: 80%;
    border-bottom: solid 2px #d9d9d9;
}

.icons {
    margin: 10% 2%;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 10vh;
}

.list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer-list-link {
    color: #2c2640;
    text-decoration: none;
    text-align: center;
    align-self: center;
    padding-bottom: 2vh;
    font-weight: bold;
}

.footer-heading {
    color: #888788;
    text-align: center;
    padding: 3vh;
    font-weight: bold;
}

.footer-hr {
    display: none;
}

.pattern {
    display: none;
}


@media only screen and (min-width: 700px) {

    .footer-link {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-right: 10%;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 3% 0%;
        margin-bottom: 0;
        width: 100%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1.5% 10%;
        width: 80%;
    }

    .footer-heading {
        text-align: left;
        padding-left: 0;
    }

    .footer-list-link:hover {
        text-decoration: underline;
    }

    .footer-list-link {
        outline: none;
        align-self: flex-start;
    }

    .footer-icons {
        justify-content: end;
    }

    .footer-link::before {
        display: none;
    }

    .icons:hover {
        opacity: 1;
    }

    .icons {
        outline: none;
        opacity: 0.5;
        padding-left: 2vw;
        margin-left: 0;
        margin-right: 0;
    }

    .footer-hr {
        display: block;
        float: left;
        color: #d9d9d9;
        margin-bottom: 3%;
        width: 100%;
    }

    .pattern {
        display: block;
        max-width: 100%;
        position: absolute;
    }

    .mobile-pattern {
        display: none;
    }
}