.mobile-section {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.middle {
    background-color: #2c2640;
}

.main-image-mobile {
    width: 100%;
}

.bg-mobile-left {
    max-width: 100%;
    height: auto;
}

.large-text {
    font-family: 'DM Serif Display';
    margin: 0;
    display: block;
    font-size: 15vw;
    text-align: center;
    color: white;
    position: relative;
    top: -8vh;
}

.small-text-mobile {
    margin: 0 7%;
    top: -8vh;
    font-size: 5vw;
    color: white;
    text-align: center;
    position: relative;
}

.middle-button {
    top: -3vh;
    display: block;
    margin: 0 auto;
    position: relative;
    border: #ffffff solid;
    border-width: 2px;
    font-size: medium;
    color: white;
    background-color: transparent;
    padding: 3% 6%;
    margin-bottom: 20%;
}

.image-container {
    display: flex;
    justify-content: flex-end;
}

.bg-right-mobile {
    margin-top: 17%;
    max-width: 100%;
    height: auto;
    position: absolute;
}

.desktop-section {
    display: none;
}

@media only screen and (min-width: 700px) {
    .desktop-section {
        display: block;
        background-color: #2c2640;
    }

    .mobile-section {
        display: none;
    }

    .middle-section {
        margin: 0 10%;
        display: flex;
        justify-content: space-between;
    }

    .middle-bg-image {
        display: flex;
        flex-direction: row-reverse;
    }

    .bg-top-image {
        width: 24%;
        height: auto;
        position: absolute;
        z-index: 3;
    }

    .middle-text {
        padding-top: 5%;
    }

    .large-text-desktop::before {
        content: '';
        width: 30%;
        border-bottom: solid 1px white;
        display: block;
        margin-bottom: 10vh;
    }

    .large-text-desktop {
        font-family: 'DM Serif Display';
        font-size: 400%;
        font-weight: bold;
        color: white;
        margin-bottom: 0px;
    }

    .small-text {
        font-size: 150%;
        color: white;
        padding-bottom: 5%;
    }

    .middle-button-desktop:hover {
        background-color: #ffffff;
        color: #2c2640;
        cursor: pointer;
    }

    .middle-button-desktop {
        border: #ffffff solid;
        background-color: #2c2640;
        color: white;
        font-size: x-large;
        text-decoration: solid;
        padding: 1vh 4vh;
        outline: none;
        margin-bottom: 20vh;
        position: relative;
        z-index: 2;
    }

    .main-image {
        max-width: 100%;
        height: auto;
        position: relative;
        top: 27%;
    }

    .bg-image {
        max-width: 30%;
        height: auto;
        position: absolute;
        left: 0;
    }
}
