.insure-icon {
    display: flex;
    justify-content: center;
    margin: 5% 0%;
}


.container {
    background-color: #2c2640;
    display: flex;
    flex-direction: column;
    display: block;
    margin: 3% auto;
    width: 600px;
    height: 550px;
    font-size: large;
    border: 2px solid black;
    border-radius: 25px;
    padding: 2% 2%;
}

.heading-contact {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.link {
    color: greenyellow;
}

.name {
    display: flex;
    justify-content: center;
}

#uname {
    background-color: gainsboro;
    padding: 2% 2%;
    margin: 2% 2%;
    border: none;
    width: 60%;
    border-bottom: 2px solid #550000;
}

#password {
    background-color: gainsboro;
    border: none;
    width: 60%;
    border-bottom: 2px solid #550000;
    padding: 2% 2%;
    margin: 2% 2%;
}

#email {
    background-color: gainsboro;
    border: none;
    border-bottom: 2px solid #550000;
    width: 60%;
    padding: 2% 2%;
    margin: 2% 2%;
}

.link-class {
    display: flex;
    justify-content: center;
    margin: 5% auto;
    outline: none;
}

.text {
    color: white;
}

#sub-button {
    display: block;
    margin: 5% auto;
    outline: none;
    cursor: pointer;
    padding: 2% 3%;
}

.id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#already-exist {
    display: none;
}

#invalid-data {
    display: none;
}